.rectangle{
    width: 709px;
    height: 600px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 0px;
    padding: 5px;
    }

.rectangleAdd{
    width: 709px;
    height: 350px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 0px;
    padding: 5px;
}

.estado {
    left: 10px;
    top: 5px;
}
.boton {
    left: 25px;
    top: 10px;
    width: 93px;
    color: #FFFFFF;
    font-family: Arimo;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    text-align: center;
    background: #0275D8;
    border: none;
    border-radius: 10px;
    }

    .searchBox {
        position: relative;
        left: 5px;
        top: 5px;
        width: 470px;
        height: 30px;
        color: #000000;
        font-family: 'Source Sans Pro';
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        text-decoration: none;
        text-align: left;
        padding: 5px;
        background: #ffffff;
        border: 1px solid #000000;
        border-radius: 30px;
        }

.infoProd{
    width: 549px;
height: 214px;
color: #000000;
font-family: 'Source Sans Pro';
font-size: 13px;
font-weight: normal;
font-style: normal;
text-decoration: none;
text-align: center;
border: none;
border-radius: 0px;
}

.btnForm{
    position:relative;
    left: 60px ;
    top: 10px;
    right: 0px;
}

.barraBtns{
    position: relative;
    left: 175px;
}

.inputAddProd{
    width: 300px;
height: 30px;
color: #000000;
font-family: 'Source Sans Pro';
font-size: 12px;
font-weight: normal;
font-style: normal;
text-decoration: none;
text-align: left;
padding: 5px;
background: #FFFFFF;
border: 1px solid #000000;
border-radius: 5px;
}

.addCategoria1{
    position: relative;
    left: 375px;
top: -245px; 
}

.addCategoria2{
    position: relative;
    left: 500px;
top: -325px; 
}

.divInputs{
    position: relative;
    width: 325px;
    left: 15px;
}

.imagen{
    position: relative;
    top: -360px;
    left: 375px
}

.btnsAdd{
    position: relative;
    left: 375px;
    top: -200px;
}

.modal-content{
    position: relative;
    width: 750px;
}